<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{block/header::headerA}"></div>
<main role="main" class="container">
    <h1 th:text="${title}"></h1>

    <div th:unless="${#strings.isEmpty(complete)}">
        <div th:text="${complete}" class="alert alert-success" role="alert"></div>
    </div>

    <form method="post" action="#" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" type="text" th:value="*{name}"><br>
            <div class="text-danger mb-4" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" name="email" type="email" th:value="*{email}"><br>
            <div class="text-danger mb-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div class="form-group">
            <label for="contents">Detail:</label>
            <textarea class="form-control" id="contents" name="contents" rows="3" cols="40" th:field="*{contents}"></textarea><br>
            <div class="text-danger mb-4" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
        </div>
        <input type="submit" class="btn btn-primary" value="To Confirm Page">
    </form>
</main>
</body>
</html>